<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="input-group">
        <span class="input-group-text mb-3">Task</span>
        <input #title="ngModel" [(ngModel)]="task.task" class="form-control" name="title" type="text"/>
      </div>

      <div class="input-group">
        <span class="input-group-text mb-3">Priority</span>
        <input #priority="ngModel" [(ngModel)]="task.priority" class="form-control" min="0" max="30" step="1"
               name="priority" type="range"/> {{task.priority}}
      </div>

      <div class="input-group">
        <span class="input-group-text mb-3">Parent Task</span>
        <select class="form-control" id="parentTask" name="parent" [(ngModel)]="parentId">
          <option *ngFor="let parent of parents" value="{{parent.id}}">{{parent.task}}</option>
        </select>
      </div>

      <div class="input-group">
        <span class="input-group-text mb-3">Start Date</span>
        <input #startDate="ngModel" [(ngModel)]="task.startDate" class="form-control" name="stDate" type="date"/>
      </div>
      <div class="input-group">
        <span class="input-group-text mb-3">End Date</span>
        <input #endDate="ngModel" [(ngModel)]="task.endDate" class="form-control" name="etDate" type="date"/>
      </div>
      <button type="button" class="btn btn-primary mr-3" (click)="onSubmit()">Update</button>
      <button type="button" class="btn btn-primary mr-3" (click)="onSubmit()">Cancel</button>
    </div>
    <div class="col"></div>

  </div>
</div>
